<section class="w-1/2 p-4 bg-gray-100 border shadow m-auto rounded">
    <h1 class="capitalize text-3xl text-green-500 text-center">reset password</h1>
    <form [formGroup]="resetPassForm" (ngSubmit)="verify()">
        
        <div class="mb-1">
            <label for="email"
                class="capitalize block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'login.email'| translate }}</label>
            <input type="email" id="email" formControlName="email"
                class="shadow-xs bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"
                required />
            @if (resetPassForm.get('email')?.errors && resetPassForm.get('email')?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <span class="font-medium">Ensure that these requirements are met:</span>
                    <ul class="mt-1.5 list-disc list-inside">
                        @if(resetPassForm.get('email')?.getError('required')){
                        <li>Email is required </li>
                        }@else if (resetPassForm.get('email')?.getError('email')) {
                        <li>Enter valid email</li>
                        }
                    </ul>
                </div>
            </div>
            }
        </div>
        <div class="mb-1">
            <label for="password"
                class="capitalize block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'login.password'| translate }}</label>
            <input type="password" id="password" formControlName="newPassword"
                class="shadow-xs bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"
                required />
            @if (resetPassForm.get('newPassword')?.errors && resetPassForm.get('newPassword')?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <span class="font-medium">Ensure that these requirements are met:</span>
                    <ul class="mt-1.5 list-disc list-inside">
                        @if(resetPassForm.get('newPassword')?.getError('required')){
                        <li>password is required </li>
                        }@else if (resetPassForm.get('newPassword')?.getError('pattern')) {
                        <li>Enter valid password</li>
                        }
                    </ul>
                </div>
            </div>
            }
        </div>
        <div class="flex items-center justify-between ">
            <button [disabled]="isSpin" type="submit" class="border border-green-600 text-green-600 hover:bg-green-600 hover:text-white p-3 duration-200 rounded-md">verify
                @if (isSpin) {
                <i class="fa-solid fa-spinner fa-spin-pulse"></i>
                }
            </button>
        </div>
      

      
    </form>
</section>

 