@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import 'ngx-toastr/toastr';
.btn-main{
    @apply disabled:bg-opacity-50 text-white bg-green-600 p-3 transition duration-300 hover:bg-green-800 rounded-sm;
}
body{
font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: normal;
}