<section>
    <div class="bg-gray-100 w-[75%] rounded p-8 mx-auto">
        <h2 class="text-green-600 text-2xl text-center">Checkout</h2>
        <form [formGroup]="checkoutForm">
            <div class="mb-1">
                <label for="details"
                    class="capitalize block mb-2 text-sm font-medium text-gray-900 dark:text-white">details</label>
                <textarea type="text" id="details" formControlName="details"
                    class="shadow-xs bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"
                    required></textarea> 
                
            </div>
            <div class="mb-1">
                <label for="phone"
                    class="capitalize block mb-2 text-sm font-medium text-gray-900 dark:text-white">phone</label>
                <input type="tel" id="phone" formControlName="phone"
                    class="shadow-xs bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"
                    required/> 
                
            </div>
            
            <div class="mb-1">
                <label for="city"
                    class="capitalize block mb-2 text-sm font-medium text-gray-900 dark:text-white">city</label>
                <input type="text" id="city" formControlName="city"
                    class="shadow-xs bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"
                    required/> 

                    <button type="submit" (click)="submit()" class="btn-main my-3">Checkout</button>
                
            </div>
            
        </form>
        </div>
        </section>


